---
import PlotPenguins from "../components/PlotPenguins.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <h1 class="text-2xl">Test Astro et Plot (Observablehq)</h1>
  <PlotPenguins />
</Layout>
