---
import PlotPenguins from "../components/PlotPenguins.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <h1 class="text-2xl">Test Astro et Plot (Observablehq)</h1>
  <ul>
    <li><a href="#Adelie">Adelie</a></li>
    <li><a href="#Gentoo">Gentoo</a></li>
    <li><a href="#Chinstrap">Chinstrap</a></li>
  </ul>
  <div>
    <div id="Adelie"><PlotPenguins species="Adelie" /></div>
    <div id="Gentoo"><PlotPenguins species="Gentoo" /></div>
    <div id="Chinstrap"><PlotPenguins species="Chinstrap" /></div>
  </div>
</Layout>
